*   {
    margin:0;
    box-sizing:border-box;
}

img{
    display: block;
    max-width: 100%;
}

main {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.secCard {
    border:4px black solid;
}

.imgContainer {
    border: 5px orange solid;
    width: 100px;
}

.divDetailsContainer{
    border: 1px black solid;    
}
.divItem{
 
    border: 1px black solid;    
}

.pInfo{
    border: 1px black solid;    
}

body{
    min-height: 100svh;
}
